<div class="container-form">
  <h1> Hello </h1>
  <%= form_for current_user, method: "post" do |f| %>
<%= f.label :new_password %><br />
<%= f.text_field :password %><br />
<%= f.submit %>
<% end %>

</div>
