// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$lightblue : #87e0fd; 	/* Here's how you assign the values to a variable */
$darkblue : #2cafe3;
$cpad: 20px;		/* Variables are not limited to colors, you can use it to store values too*/
$primaryColor: #333;
$color: #800000;


body {
	background-color: #A9A9A9;
	background-attachment:fixed;
	font: 100% Helvetica, sans-serif;
	
}

.navbar-header {
		color: #800000;
		background-color: #FFFFFF;
}
.nav navbar-nav {
		color: #800000;
		background-color: #FFFFFF;
}

#header {
	background-color: #000000;
	padding: 10px;
	font-color: #000000;

}

.content {
    padding:20px;
    text-align: center;
    .box-right {
        float : right;
        border: 1px solid #000;
  
    }
}

.h1 {
           	font-size: 64px;
    		color: #FFFFFF;
        }

.button {
	background-color: #000000;
	color: #800000;
}

.box {
	padding: 20px;
	background-color: #000000;
	font-color: #FFFFFF;
}

#ul {
	color: #800000;

}

.graph {
	background-color: #FFFFFF;
	padding: 10px;
}

.container-form {
	background-color: #FF0000;
	padding: 20px;
	font: 100% Helvetica, sans-serif;
	font-size: 20px;
    text-align: center;
    border: 2px;

}

.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.div {
    border: 1px solid black;
    outline: 1px solid red;
    outline-offset: 15px;
}

.container {
	padding: 10px;
	background-color: #FFFFFF;
	color: #800000;
	text-align: center;
	 border: 2px;

}



.content {	
	padding: $cpad;
	color: #800000;
}
