<% if current_user.try(:admin?) -%>
      <p> Hello admin! </p>
      <%= current_user.email %>
<% end %>
<div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in BLAH BLAH BLAH</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <%= link_to t(".forgot_password"), new_password_path %>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

      </div>