
<p id="notice"><%= notice %></p>

<script src="application.js"></script>

<h1>Today's Measurements</h1>

<%= @nodeList.each do |node|%>

<%=

  line_chart getData(node),
  title: nodeName(node),
  xtitle: "Time",
  ytitle: "Temperature/Humidity",
  legend: true,
  legend: "bottom",
  download: true
  
%>

</br>
<hr>
</br>

<p hidden><% end %></p>