
<p id="notice"><%= notice %></p>

<script src="application.js"></script>
<div class="container">
  <div class="text-center">
    <h1>Today's Measurements</h1>
  </div>
</div>

<%= @nodeList.each do |node|%>

<%=

  line_chart getData(node),
  title: nodeName(node),
  xtitle: "Time",
  ytitle: "Temperature/Humidity",
  legend: true,
  legend: "bottom",
  download: true
  
%>

</br>
<hr>
</br>

<p hidden><% end %></p>